#File modified by ipa-client-install

URI ldaps://vclldap1.yoigo.inet
BASE dc=yoigo,dc=inet
#TLS_CACERT /etc/ipa/ca.crt
#TLS_CACERT /etc/ipa/ca.crt
#TLS_CACERT /etc/pki/tls/certs/ca-bundle.crt
TLS_CACERTDIR /etc/sssd/certs
TLS_REQCERT allow
